body {
	background-color: #1b1b1d;
	color: #c5c5c5;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	max-width: 99ch;
	margin: auto;
}


/*** Code ***/
.code-block {
	display: inline-block;
	font-family: monospace;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	overflow: auto;
}

.code-block pre {
	--line-height: 1.25em;
	margin: 0;
	line-height: var(--line-height);
	overflow-x: auto;
}

.code-block figcaption.code-block-title {
	background-color: #20202a;
	padding-left: .3em;
	margin: 0;
	font-size: 1.2em;
}

.code-block pre code {
	max-height: calc(38 * var(--line-height));
	margin-bottom: 0.2em;
	overflow: auto;
	background-color: #0f141a;
	display: block;
	font-family: monospace;
	white-space: pre;
}

.code-block pre code.line-gutter {
	counter-reset: line var(--line-offset, 1);
}

.code-block pre code.line-gutter > span {
	counter-increment: line;
}

.code-block pre code.line-gutter > span::before {
	content: counter(line);
	background: #20202a;
	display: inline-block;
	min-width: 3ch;
	padding-right: .1em;
	text-align: right;
	color: #888;
	user-select: none;
}

code.inline-code {
	display: inline-block;
	margin: 0;
	padding: 0.2em 0.4em;
	background-color: #0f141a;
	font-family: monospace;
	white-space: pre;
	border-radius: 0.2em;
	vertical-align: baseline;
}

/*** Styles ***/
em {
	border-radius: 4px;
	border: 1px solid #444446;
	background-color: #25242a;
	font-family: monospace;
	font-style: normal;
}

/*** Media ***/
.media {
	margin-top: .8em;
	margin-bottom: .8em;
}

p.media-refname {
	color: #af2f5f;
	font-weight: bold;
}

.media p {
	width: 80%;
	margin: auto;
	text-align: center;
}

.media-description {
	margin-left: 2em;
	margin-right: 2em;
	text-align: center;
}

/*** Spoiler ***/
.spoiler-container {
	margin-top: .4em;
	margin-bottom: .4em;
}

.spoiler-toggle {
	display: none;
}

.spoiler-toggle:checked + .spoiler-label + .spoiler-content {
	max-height: 100%;
}

.spoiler-label {
	cursor: pointer;
	background-color: #444;
	padding: 4px 8px;
	border-radius: 2px;
	display: inline-block;
}

.spoiler-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, padding 0.3s ease;
	background-color: #222;
	padding: 0 10px;
	border-left: 4px solid #D8C;
}
